* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  color: #363636;
}

body {
  width: 100vw;
  height: 100vh;
  background-color: antiquewhite;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  height: 600px;
  width: auto;
  background-color: #363636;
  border-radius: 10px;
  display: flex;
  gap: 15px;
  flex-direction: column;
  padding: 15px;
  box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.6);
}

.display {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  background-color: floralwhite;
  position: relative;
}

.answer {
  text-align: right;
  position: absolute;
  bottom: 5px;
  right: 10px;
}

.answer--history {
  color: grey;
}

.buttons__wrapper {
  display: flex;
  gap: 5px;
}

.buttons__wrapper--top {
  flex-direction: row;
}

.buttons__wrapper--left {
  flex-wrap: wrap;
  width: 250px;
}

.buttons__wrapper--right {
  flex-direction: column;
}

.buttons {
  width: 335px;
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}

button {
  height: 80px;
  width: 80px;
  border-radius: 3px;
  border: none;
  transition: transform 0.1s ease-in-out;
  cursor: pointer;
}

.buttons__item--operator,
#equals {
  background-color: #e3b361;
}

#logo {
  border-radius: 100%;
  background-color: #363636;
}

.buttons__item--remove {
  background-color: #a78241;
}

#equals {
  flex-grow: 1;
}

#dot {
  background-color: white;
}

/*animations*/
.buttons__item:hover {
  transform: translateY(-2px);
  box-shadow: 0px 5px 10px 2px rgba(0, 0, 0, 0.6);
}

.buttons__item:active {
  transform: translateY(2px);
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
}
