* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: white;
    background-color: #101010;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    position: relative;
    background-color: #363636;
    width: 500px;
    border-radius: 10px;
    padding: 20px;
}

.score {
    width: 100%;
    margin-bottom: 20px;
}

.computer {
    background-color: #101010;
    border-radius: 10px;
    padding: 10px;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 20px;
}

.card {
    display: flex;
    gap: 10px;
}

.card__button {
    padding: 10px 30px;
    border-radius: 5px;
    border: 2px solid #101010;
    flex: 1 1 0;
}

#menu {
    border-radius: 10px;
    background-color: #363636;
    position: absolute;
    display: flex;
    justify-content: center;
    top: 0;
    right: 0;
    height: 100%;
    width: 100%;
}

#menu__button {
    padding: 20px 40px;
    align-self: center;
}
