* {
    padding: 0;
    margin: 0;
    /*box-sizing: border-box;*/
}

body {
    background-color: floralwhite;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

button {
    padding: 10px 20px;
    margin-bottom: 10px;
}

.container {
    width: 700px;
    height: 700px;
    border: 2px solid black;
    display: flex;
    flex-wrap: wrap;
}

.box {
    background-color: white;
    border: 1px solid black;
}
