body {
  font: 1.2em / 1.5 sans-serif;
}

/* ======================================================= task 1 */
/* h1 {
  color: blue;
}

h2 {
  background-color: blue;
  color: white;
}

span {
  font-size: 200%;
} */

/* ======================================================= task 2 */
/* #special { */
/*   background-color: yellow; */
/* } */
/**/
/* .alert { */
/*   border: 2px solid grey; */
/**/
/*   &.stop { */
/*     background-color: red; */
/*   } */
/**/
/*   &.go { */
/*     background-color: green; */
/*   } */
/* } */

/* ======================================================= task 3 */
/* * { */
/*   box-sizing: border-box; */
/* } */
/**/
/* table { */
/*   border-collapse: collapse; */
/*   width: 300px; */
/* } */
/**/
/* td, */
/* th { */
/*   padding: 0.2em; */
/*   text-align: left; */
/* } */
/**/
/* a { */
/*   &:link { */
/*     color: orange; */
/*   } */
/**/
/*   &:visited { */
/*     color: green; */
/*   } */
/**/
/*   &:hover { */
/*     text-decoration: none; */
/*   } */
/* } */
/**/
/* .container p:first-child { */
/*   font-size: 150%; */
/* } */
/**/
/* .container p:first-child:first-line { */
/*   color: red; */
/* } */
/**/
/* table > tbody > tr:nth-child(even) { */
/*   background-color: #333333; */
/*   color: white; */
/* } */

/* ======================================================= task 4 */
/**/
/* h2 + p { */
/*   color: red; */
/* } */
/**/
/* .list > li { */
/*   list-style: none; */
/*   border-bottom: 1px solid grey; */
/* } */

/* ======================================================= task 5 */

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  margin-bottom: 0.5em;
}

a {
  display: block;
  padding: 0.5em;
}

a {
  border: 5px solid grey;

  &[title] {
    border-color: pink;
  }

  &[href*="contact"] {
    border-color: orange;
  }

  &[href^="https"] {
    border-color: green;
  }
}

